.calculator {
  width: 1000px;
  height: 600px;
  background-color: antiquewhite;
  padding: 30px;
  border-radius: 1em;
  margin: auto;
}

.display-box {
  width: 950px;
  height: 100px;
  background-color: aqua;
  padding-left: 25px;
  padding-top: 5px;
  border-radius: 5px;
}

.clear-button {
  width: 50px;
  height: 40px;
  background-color: aquamarine;
}
